/*  Structure

1.  Fonts including
2.  General styles
3.  Header
4.  Form
5.  Slider
6.  About works

*/

/* 1.  Fonts including */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

/* 2.  General styles */
$padding-standart: 100px 0px;
$padding-small: 70px 0px;
$typography-color-standart: 16px;
$blue: rgb(15, 148, 219);
$gold: #ffe5db;
$white: #fff;
$green: #6ab43e;
$dark: #2b2b2b;
$light-grey: #c8c8c8;

body {
    color: #787878;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    min-width: 320px;
    max-width: 100%;
    font-size: $typography-color-standart;
}

section {
    padding: $padding-standart;
    text-align: center;

    @media only screen and (max-device-width: 767px) {
        padding: $padding-small;
    }
}

input {
    outline: 0;
    border: 0;
}

select {
    border-radius: 17px;
    font-size: 12px;
    color: $white;
    background-color: transparent;

    &:focus,
    &:hover {
        outline: 0;
    }

    option {
        color: #49792c;
        border-color: #49792c;
        outline-color: $green;
    }
}

.clearfix {

    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}

ul {
    margin-bottom: 0;
}

h2 {
    font-size: 50px;

    @media only screen and (max-device-width: 1199px) {
        font-size: 42px;
        line-height: 42px;
    }

    @media only screen and (max-device-width: 991px) {
        font-size: 27px;
        line-height: 30px;
    }

    @media only screen and (max-device-width: 545px) {
        font-size: 20px;
        line-height: 25px;
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;

    &:hover {
        text-decoration: none;
        color: #fff;
    }
}


/* 3.  Header */
.help-box {
    min-height: 1000px;
}

header {
    overflow: hidden;
    font-size: 14px;

    &.sticky {

        .bottom-bar {
            padding: 11.5px 0 7.5px 0;
            top: 0;
            z-index: 1;

            @media only screen and (max-device-width: 991px) {
                padding: 19.5px 0 15.5px 0;
            }
        }
    }

    .modal-window-search {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000;
        display: none;
        visibility: hidden;
        animation-duration: .6s;
        z-index: 99;

        .toggle_mnu_search {
            width: 50px;
            height: 60px;
            position: fixed;
            border: none;
            right: 25px;
            top: 5px;
            background: transparent;
            z-index: 999;
            padding: 0;

            .sandwich {
                width: 28px;
                height: 28px;
                position: absolute;
                top: 8px;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                z-index: 200;

                .sw-topper {
                    top: 9px;
                    -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }

                .sw-bottom {
                    display: block;
                    top: 6px;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }

        .search-box {
            display: table;
            width: 100%;
            height: 100%;

            .centre-align {
                padding: 10px;
                display: table-cell;
                text-align: center;
                vertical-align: middle;

                form {
                    vertical-align: top;

                    input {
                        background: transparent;
                        border-bottom: solid 1px $white;
                        width: 90%;
                        padding: 10px;
                        color: $white;
                        font-weight: 300;
                        font-size: 20px;
                        background-image: url(../img/search-tool-white.png);
                        background-size: 33px;
                        background-position-x: right;
                        background-position-y: 11px;
                        background-repeat: no-repeat;

                        &::placeholder {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .top-bar {
        background-color: $green;
        color: $white;

        @media only screen and (max-device-width: 991px) {
            display: none;
        }


        ul {

            li {
                display: inline-block;
                line-height: 1;
            }

            &.header__contact {

                li {

                    &:first-child {

                        margin-right: 10px;
                    }
                }
            }
        }

        .left-side {
            padding: 15px;
        }

        .right-side {
            padding-top: 8px;

            .wrapper {
                float: right;

                .btn {
                    background-color: $white;
                    color: #49792c;
                    border-radius: 50px;
                    letter-spacing: 0;
                    font-size: 12px;
                    box-shadow: 0;
                    transition: .2s;


                    &:hover {
                        box-shadow: 1.563px 2.863px 3px 0 rgba(0, 0, 0, 0.1);
                    }
                }

                a {
                    i {
                        font-size: 21px;
                    }

                    &.social-link {
                        display: block;
                        float: left;
                        margin-right: 15px;
                        margin-top: 6px;
                    }
                }

                .search-box {
                    float: left;
                    margin-right: 15px;
                    position: relative;

                    input {
                        border-radius: 30px;
                        line-height: 30px;
                        padding-left: 10px;
                        padding-right: 2px;
                        color: $green;
                        background-color: $white;
                        background-image: url(../img/search-tool.png);
                        background-size: 33px;
                        background-position-x: right;
                        background-repeat: no-repeat;
                        transition: .4s;
                        max-width: 100px;

                        &:focus {
                            background-position-x: -50px;
                            background-position-y: -100%;
                            max-width: 200px;
                        }
                    }
                }

                .language-switcher {
                    float: left;
                    margin-right: 5px;
                    margin-top: 6px;

                    select {
                        border-radius: 17px;
                        font-size: 12px;
                        color: $white;
                        background-color: transparent;
                        cursor: pointer;

                        &:focus,
                        &:hover {
                            outline: 0;
                        }

                        option {
                            color: #49792c;
                            border-color: #49792c;
                            outline-color: $green;
                        }
                    }
                }
            }
        }
    }

    .bottom-bar {
        padding: 21.5px 0 17.5px 0;
        position: fixed;
        top: 51px;
        left: 0;
        width: 100%;
        background-color: $white;
        transition: .2s;
        z-index: 1;

        @media only screen and (max-device-width: 991px) {
            padding: 19.5px 0 15.5px 0;
            top: 0;
        }

        .header__logo-box {
            float: left;
            padding-top: 4px;

            a {
                display: inline-block;

                img {
                    margin-top: -20px;
                    margin-right: 5px;
                    max-width: 100px;

                    @media only screen and (max-device-width: 1100px) {
                        max-width: 85px;
                    }

                    @media only screen and (max-device-width: 380px) {
                        margin-top: -9px;
                    }
                }

                h1 {
                    color: #2b2b2b;
                    font-size: 16px;
                    display: inline-block;
                    line-height: 14px;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 0;

                    @media only screen and (max-device-width: 1100px) {
                        font-size: 12px;
                    }

                    @media only screen and (max-device-width: 380px) {
                        display: none;
                    }

                    span {
                        font-size: 12px;
                        letter-spacing: 1px;

                        @media only screen and (max-device-width: 1100px) {
                            font-size: 9px;
                        }
                    }
                }
            }

            .modal-search {
                display: none;
                position: fixed;
                top: 29px;
                right: 9px;
                width: 17px;
                height: 17px;
                background-image: url("../img/search-tool-dark.png");
                background-size: cover;

                @media only screen and (max-device-width: 991px) {
                    display: block;
                }
            }

        }

        .header__nav {
            float: right;

            @media only screen and (max-device-width: 991px) {
                display: none;
            }

            ul {

                li {
                    display: inline-block;
                    margin-right: 11px;
                    position: relative;

                    &.menu-item-has-children {

                        a {

                            &:after {
                                content: "\f107";
                                font-family: fontawesome;
                                display: inline-block;
                                font-size: 14px;
                                line-height: 13px;
                                margin-left: 5px;
                            }
                        }
                    }

                    @media only screen and (max-device-width: 1100px) {
                        margin-right: 10px;
                    }

                    @media only screen and (max-device-width: 1045px) {
                        margin-right: 7px;
                    }

                    a {
                        color: $dark;
                        text-transform: uppercase;
                        letter-spacing: 0;
                        line-height: 36px;
                        font-size: 13px;
                        font-weight: 400px;
                        padding-bottom: 32px;
                        cursor: pointer;

                        @media only screen and (max-device-width: 1100px) {
                            font-size: 12px;
                        }

                        &:hover~ul.sub-menu {
                            visibility: visible;
                            opacity: 1;
                            top: 58px;
                        }
                    }


                }

                &.sub-menu {
                    position: absolute;
                    background: #fff;
                    top: 30px;
                    left: -20px;
                    right: auto;
                    border-top-width: 3px;
                    border-bottom-width: 0px;
                    border-left-width: 0px;
                    border-right-width: 0px;
                    border-style: solid;
                    border-color: #6ab43e;
                    padding: 10px 0;
                    min-width: 220px;
                    visibility: hidden;
                    opacity: 0;
                    transition: .4s;

                    li {
                        display: list-item;
                        padding-left: 30px;
                        padding-right: 30px;

                        a {
                            text-transform: unset;

                            &:after {
                                content: "";
                            }
                        }
                    }

                    &:hover {
                        visibility: visible;
                        opacity: 1;
                        top: 58px;
                    }
                }
            }
        }
    }

    /* Mobile navigation */
    .toggle_mnu {
        width: 50px;
        height: 60px;
        position: fixed;
        border: none;
        right: 25px;
        top: 5px;
        background: transparent;
        display: none;
        z-index: 999;
        padding: 0;

        @media only screen and (max-device-width: 991px) {
            display: block;
        }

        .social-box {

            a {
                i {
                    font-size: 21px;
                }
            }
        }

        span {
            display: block;
        }
    }

    .toggle_mnu:hover {
        cursor: pointer;
    }

    .sandwich {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 8px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 200;
    }

    .sw-topper {
        position: relative;
        top: 0;
        width: 28px;
        height: 3px;
        background: $light-grey;
        border: none;
        border-radius: 4px 4px 4px 4px;
        -webkit-transition: -webkit-transform 0.5s, top 0.3s;
        transition: transform 0.5s, top 0.3s;
        display: block;
    }


    button:focus {
        outline: 0;
    }

    .sw-bottom {
        position: relative;
        width: 28px;
        height: 3px;
        top: 6.6px;
        background: $light-grey;
        border: none;
        border-radius: 4px 4px 4px 4px;
        -webkit-transition: -webkit-transform 0.5s, top 0.3s;
        transition: transform 0.5s, top 0.3s;
        -webkit-transition-delay: 0.3s, 0s;
        transition-delay: 0.3s, 0s;
    }

    .sw-footer {
        position: relative;
        width: 28px;
        height: 3px;
        top: 13.5px;
        background: $light-grey;
        border: none;
        border-radius: 4px 4px 4px 4px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    .sandwich.active {
        .sw-topper {
            top: 9px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .sw-bottom {
            top: 6px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .sw-footer {
            opacity: 0;
            top: 0;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }

    .top_mnu {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #222;
        z-index: 50;
        left: -100%;
        top: 0;
        display: none;
        transition: .3s;
        padding: 45px 0;
        text-align: center;

        ul,
        li {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        ul {
            margin-top: 15px;
            text-align: center;
            -webkit-animation-duration: 0.01s;
            animation-duration: 0.01s;

            &.sub-menu {
                padding: 0;
                margin: 0;
                display: none;
                visibility: hidden;
                padding-left: 30px;
                background-color: #171717;
                transition: .3s;
            }

            li {
                text-align: left;
                border-top: 1px solid #2c2c2c;
                position: relative;

                &.current-menu-item {
                    background: #171717;
                }

                &:last-child {
                    border-bottom: 1px solid #2c2c2c;
                }

                &.menu-item-has-children {

                    &:after {
                        content: "+";
                        font-size: 22px;
                        font-weight: bold;
                        color: $white;
                        font-family: fontawesome;
                        display: inline-block;
                        position: absolute;
                        top: 5px;
                        right: 10px;
                        z-index: 0;
                    }

                    .open-inner {
                        width: 30px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        cursor: pointer;
                        z-index: 1;
                    }

                    &.open {
                        background-color: #171717;

                        &:after {
                            content: "-";
                            font-size: 25px;
                            font-weight: bold;
                            color: $white;
                            font-family: fontawesome;
                            display: inline-block;
                            position: absolute;
                            top: 5px;
                            right: 13px;
                            z-index: 0;
                        }

                        .sub-menu {
                            display: block;
                            visibility: visible;
                        }
                    }
                }

                a {
                    color: $white;
                    display: block;
                    font-size: 12px;
                    opacity: 1;
                    position: relative;
                    outline: none;
                    padding: 12.5px 12px;
                    font-size: 14px;
                }
            }

            a:hover {
                text-decoration: none;
            }
        }
    }
}

/* 4.  Form 
input,
textarea {
    border-radius: 5px;
}

.wpcf7 {
    width: 100%;
}

.breadcrambs{
    background: url(../img/slider-1.jpg);

    .inner-wrap{
        height: 100px;
    }

}

.wpcf7 label {
    width: 100%;
    margin-bottom: 0;
}


.wpcf7 .wpcf7-validation-errors {
    display: none !important;
}

.wpcf7 .wpcf7-form {
    width: 100%;
}

.wpcf7 .wpcf7-form .wpcf7-not-valid-tip {
    line-height: 35px;
}

.wpcf7 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}

.wpcf7 .wpcf7-form .wpcf7-validation-errors,
.wpcf7 .wpcf7-form .wpcf7-mail-sent-ok {
    margin-top: 60px;
}

.wpcf7 .wpcf7-form .help-develop {
    float: left;
    display: block;
    line-height: 60px;
    margin-right: 10px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .help-develop {
        line-height: 40px;
    }
}

.wpcf7 .wpcf7-form span.wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form span.wpcf7-form-control-wrap {
        width: 100%;
        text-align: left;
    }
}

.wpcf7 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
    width: auto;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
        width: 100%;
        text-align: left;
    }
}

.wpcf7 .wpcf7-form span.textarea-text {
    width: 100%;
}

.wpcf7 .wpcf7-form p input {
    width: 100%;
    float: left;
    padding: 0.75rem;
    border: solid 1px #eee;
}
@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form p input {
        width: 100%;
    }
}

.wpcf7 .wpcf7-form p select {
    height: 40px;
    margin-top: 10px;
    float: left;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form p select {
        margin-top: 0px;
    }
}

.wpcf7 .wpcf7-form p .wpcf7-email {
    margin-left: 0;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form p .wpcf7-email {
        margin-left: 0;
        margin-top: 0;
    }
}

.wpcf7 .wpcf7-form p .wpcf7-textarea {
    margin-top: 2%;
    padding: 0.75rem;
    border: solid 1px #eee;
    width: 100%;
    margin-bottom: 0;
}

.wpcf7 .wpcf7-form p .wpcf7-textarea,
.wpcf7 .wpcf7-form p .wpcf7-input {
    color: #888;
}

.wpcf7 .wpcf7-form p input:focus,
.wpcf7 .wpcf7-form p textarea:focus {
    outline-color: $white;
}

.wpcf7 .wpcf7-form p .wpcf7-submit {
    display: block;
    height: 60px;
    width: 230px;
    background-color: $white;
    border: none;
    color: $blue;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;

    &:focus{
        outline: none;
    }

    &:active{
        outline: none;
    }

    @media only screen and (max-device-width: 991px) {
        margin-bottom: 30px;
    }
}

.wpcf7 .wpcf7-form p .wpcf7-submit:hover {
    box-shadow: none;
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4);
}

.wpcf7 .wpcf7-form span.textarea-comment {
    width: 100%;
}

.wpcf7 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}

.wpcf7#wpcf7-f27-o1 {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-validation-errors {
    display: none !important;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-not-valid-tip {
    line-height: 35px;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-validation-errors,
.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-mail-sent-ok {
    margin-top: 60px;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .help-develop {
    float: left;
    display: block;
    line-height: 60px;
    margin-right: 10px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .help-develop {
        line-height: 40px;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form span.wpcf7-form-control-wrap {
        width: 100%;
        text-align: left;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
    width: auto;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
        width: 100%;
        text-align: left;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.textarea-text {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p input {
    width: 100%;
    float: left;
    padding: 0.75rem;
    border: solid 1px #eee;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form p input {
        width: 100%;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p select {
    height: 40px;
    margin-top: 10px;
    float: left;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form p select {
        margin-top: 0px;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-email {
    margin-left: 0;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-email {
        margin-left: 0;
        margin-top: 0;
    }
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-textarea {
    margin-top: 2%;
    padding: 0.75rem;
    border: solid 1px #eee;
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-textarea,
.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-input {
    color: #888;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p input:focus,
.wpcf7#wpcf7-f27-o1 .wpcf7-form p textarea:focus {
    outline-color: $white;
}



.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-submit {
    display: block;
    height: 60px;
    width: 230px;
    background-color: $white;
    border: none;
    color: $blue;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    border-radius: 30px;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-submit:hover {
    box-shadow: none;
    box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4);
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.textarea-comment {
    width: 100%;
}

.wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
    line-height: 18px;
    padding-top: 12px;
}

@media only screen and (max-device-width: 575px) {
    .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
        line-height: 14px;
    }
}
*/


/* 5.  Slider */
.slider{
    background-color: #335a21;
    padding: 0;

    .carousel{

        .carousel-inner{

            .carousel-item{

                img{
                    height: 680px;
                    object-fit: cover;
                }
            }
        }
    }
}

/* 6.  About works */
.about-works{

    .item-box{
        opacity: 0;

        @media only screen and (max-device-width: 991px) {
            margin-bottom: 60px;
        }

        &:nth-child(1){
            animation-delay: .1s;
        }

        &:nth-child(2){
            animation-delay: .2s;
        }

        &:nth-child(3){
            animation-delay: .3s;
        }

        &:nth-child(4){
            animation-delay: .4s;
        }

        img{
            margin-bottom: 25px;

            @media only screen and (max-device-width: 767px) {
                margin-bottom: 20px;
            }
        }

        h3{
            color: #333;
            font-size: 22px;
            margin-bottom: 20px;

            @media only screen and (max-device-width: 767px) {
                margin-bottom: 15px;
            }
        }

        p{
            color: #3c5561;
            line-height: 29px;
            font-size: 14px;
            margin-bottom: 40px;

            @media only screen and (max-device-width: 767px) {
                margin-bottom: 30px;
            }
        }

        .grid-button{

            a{
                background-color: $green;
                font-size: 14px;
                font-weight: 400;
                outline: none;
                padding: 10px 22px 10px 22px;
                text-transform: uppercase;
                color: $white;
                border-radius: 4px;
                cursor: pointer;
                transition: .3s;

                &:hover{
                    background-color: #000;
                }
            }
        }
    }
}